---
import Layout from '../../layouts/BaseLayout.astro';
import EventCard from '../../components/EventCard.astro';
import { events } from '../../data/events.js';
import { t } from '../../utils/t';

const lang = 'ar';
---

<Layout title="Events – MHG Ingolstadt" lang={lang}>
  <section class="text-center py-12 px-4 sm:px-6 md:px-8 bg-[#d7f0f7] rounded-lg max-w-6xl mx-auto mt-8">    

    <h2 class="text-3xl sm:text-4xl font-bold text-center mb-4">🎉 {t("events.title", lang) }</h2>
    <p class="text-center text-lg mb-10">
      {t("events.description", lang) }
    </p>
  </section>

  <section class="max-w-6xl mx-auto px-4 py-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {events.map(event => (
        <EventCard 
        title={event.title}
        time={event.date}
        location={event.location}
        description={event.description}
        slug={event.slug}
      />
      ))}
    </div>
  </section>
</Layout>
